{{ $email := promptStringOnce . "email" "Email address" }}
{{ $isDRDevMachine := promptBoolOnce . "hasDrDev" "Develop DataRobot on this machine" }} 

[data]
    email = {{ $email | quote }}
    dr = {{ $isDRDevMachine }}

[data.fonts]
    sans-serif = '"Avenir Next","Avenir","Helvetica Neue","Helvetica",sans-serif"'
    serif = '"Georgia",serif'
    mono = '"Fira Code Mono"'

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]
