setopt autocd

# vim keybindings in shell
bindkey -v

## Env Vars
# TODO Move this to their own shell file
export WORKSPACE=${HOME}/workspace
# TODO Remove this as I am now using chezmoi for dotfiles
export AJ_CONFIG=${HOME}/workspace/dev
# homebrew is great but is actively hostile sometimes
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_INSTALL_CLEANUP=1

## Aliases
# TODO Move to their own file
alias g="git"
alias ll="ls -al"
alias cm="chezmoi"
alias edit="open"

if type zed %>/dev/null
then
  export EDITOR="zed --wait"
elif type code %>/dev/null
then
  export EDITOR="code --wait"
elif type vim %>/dev/null
then
  export EDITOR="vim"
fi

if type brew &>/dev/null
then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
fi

if [[ -d $HOME/.atuin/bin ]] then
  # Add atuin to the path, and init shell plugin
  . "$HOME/.atuin/bin/env"
  eval "$(atuin init zsh)"
fi

source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
antidote load

if [[ $(command -v starship) ]] then
  export STARSHIP_CONFIG=${AJ_CONFIG}/config/starship.toml
  # You may still need to add this at the end of .zshrc for it to work
  eval "$(starship init zsh)"
fi

if [[ $(command -v thefuck) ]] then
  eval "$(thefuck --alias)"
fi

{{- if .dr }}
# TODO Why do I have this?
. "$HOME/.local/bin/env"

[ -f ~/.quantumrc ] && source ~/.quantumrc

# set up GPG, because I need to use it for the datarobot github org
export GPG_TTY=$(tty)
{{- end }}

if type pyenv &>/dev/null
then
  export PYENV_ROOT="$HOME/.pyenv"
  [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
  eval "$(pyenv init - zsh)"
fi
