// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
//
// AJ! Don't forget to update your chezmoi template! Run
// `cm edit ~/.config/zed/settings.json` and commit changes.
{
  "theme": {
    "mode": "system",
    "light": "Ayu Light",
    "dark": "One Dark"
  },
  "agent": {
    "version": "2",
    "default_model": {
      "provider": "copilot_chat",
      "model": "claude-3.7-sonnet"
    },
    "model_parameters": [],
  },
  "base_keymap": "VSCode",
  "ui_font_size": 16,
  "buffer_font_family": "FiraCode Nerd Font Mono",
  "buffer_font_fallbacks": ["Zed Plex Mono"],
  "buffer_font_size": 16,
  "features": {
    // Use copilot provider to maintain consistency with work
    "edit_prediction_provider": "copilot"
  }
}
