[install]
{{- if .work }}
trusted-host = {{ .artifactoryHost }}
{{- end }}
index-url = https://pypi.org/simple
{{- if .work }}
extra-index-url =
        https://{{ .artifactoryHost }}/artifactory/api/pypi/python-all/simple
        https://{{ .artifactoryHost }}/artifactory/api/pypi/python-dev/simple
        https://{{ .artifactoryHost }}/artifactory/api/pypi/datarobot-python-dev/cfx/simple
{{- end }}

[global]
{{- if .work }}
# below e-idx required for JJB venv
extra-index-url =
        https://{{ .artifactoryHost }}/artifactory/api/pypi/python-all/simple
        https://pypi.org
{{- else }}
extra-index-url =
        https://pypi.org
{{- end }}
